<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cfd23653-aa68-4a2e-a957-d8c569f00dd1/resourcegroups/Default-MachineLearning-SouthCentralUS/providers/Microsoft.Web/sites/TwilioReceive20181217080037</ResourceId>
    <ResourceGroup>Default-MachineLearning-SouthCentralUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://twilioreceive20181217080037.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <ProjectGuid>31f26774-d9cf-46c8-87b4-ca2344ea7453</ProjectGuid>
    <SelfContained>true</SelfContained>
    <_IsPortable>false</_IsPortable>
    <MSDeployServiceURL>twilioreceive20181217080037.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TwilioReceive20181217080037</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TwilioReceive20181217080037</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <InstallApplicationInsightsSiteExtension>True</InstallApplicationInsightsSiteExtension>
  </PropertyGroup>
</Project>